/*
LIGHT SHADES: #F5F0DE
LIGHT ACCENT: #C0B986
MAIN COLOR: #8D8639
DARK ACCENT: #786A4D
DARK SHADE: #7C7553
*/

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    width: 100%;
    height: 100vh;
    margin: auto;

    background-color: #F5F0DE;
    text-align: center;
    font-size:18px;

}

/*HORIZONTAL NAV MENU*/
nav{
    text-align:right;
}

@keyframes appear{
    from { opacity: 0}
    to { opacity: 1}
}

nav ul{
    padding: 2vh 2vw;
}

nav li{
    display: inline;
    padding: 0 1vw;
    list-style: none;
    animation: 2s appear
}

nav a{
    display:inline;
    color: #7C7553;
    text-decoration: none;
}

/*CONTENT*/
h1{
    font-size: 100px;
    text-transform: uppercase;
    color: #7C7553;
    font-weight:600;
}
h2{
    font-size: 75px;
    text-transform: uppercase;
    color: #7C7553;
    font-weight: 600;
}
h3{
    font-size: 40px;
    text-transform: uppercase;
    color:#7C7553;
    font-weight: 600;
}

.brandcolor{
    color: #8D8639;
}

/*name*/

  
#intro{
    padding-top: 30vh;
    text-align: left;
    height: 100vh;
    padding-left: 1%;
    position: relative;
}

#intro h1{
    animation: 2s anim-lineUp ease-out;
    padding-bottom:5px;
}

#intro h2{
    animation: 2s anim-lineUp ease-out;
    padding-bottom:5px;
}

#intro h4{
    color:#7C7553;
    padding-left: 10px;
    font-weight: 500;
    font-size: 20px;
    animation: 4s anim-lineUp ease-out;
}

#intro i{
    padding-left:10px;
    animation: 4s anim-lineUp ease-out;
}

#intro a{
    text-decoration:none;
    color: #786A4D;
}

#intro a:hover{
    color:#C0B986;
}
/*anim keyframes */

  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

/*Projects*/
#projects{
    padding: 5%;
    margin: auto;
    background-color: #7C7553;
    height: 80vh;
    /*consider using scroll event to do animation fade in*/
}

#projects h3{
    margin-bottom: 30px;
    color:#F5F0DE;
}

#projects a{
    color:#F5F0DE;
    display:block;
}

.project_show{
    width:80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items:center;
}

.box_img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height:30vh;
    width: 50%;
    border-radius: 4%;
    margin:5px;
}
.box_img a{
    height:100%;
    width: 100%;
}

#box1{
    background-image: url(https://raw.githubusercontent.com/lchen456/gamejamgang/main/game/images/title_2.PNG);
}
#box2{
    background-image: url(GiftMe.jpg);
}
#box3{
    background-image: url(odyssea.PNG);
}

.text{
    color: #F5F0DE;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 4%;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.box_img:hover .text{
    opacity:1
}

/*center text vertically*/
.text p{
    padding-top:25%; 
}

footer{
    padding: 25px 0;
    color: #7C7553;
}